body {
  background-color: ghostwhite;
  font-family: 'Courier New', Courier, monospace;
}

.title {
  text-align: center;
  font-size: 2.5em;
  /*font-weight: bold;*/
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.canvas-container {
  text-align: center;
}

#canvas {
  width: 512px;
  height: 512px;
}

.footer {
  text-align: center;
  padding-top: 20px;
}
