@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background-color: ghostwhite;
  font-family: 'Josefin Sans';
}

.title {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  color: #333333;
  padding-top: 5vh;
  padding-bottom: 3vh;
}

.body-container {
  display: grid;
  grid-template-columns: 70em;
  grid-template-columns: repeat(3, 1fr);
}

.body-center-wrapper {
  text-align: center;
  background-color: #444444;
  width: 33vw;
  height: 33vw;
  border-radius: 0.4em;
}

#canvas {
  width: 33vw;
  height: 33vw;
}

.footer {
  text-align: center;
  padding-top: 5vh;
}
